<tr id="<%= product.id %>" class="text-center">
  <td><%= product.sku %></td>
  <td><%= product.name %></td>
  <td><%= product.status %></td>
  <td><%= product.updated_at.strftime("%F %T") %></td>
  <td>
    <% if user_signed_in? %>
      <%= link_to 'Show', admin_product_path(product), remote: true, class: 'btn btn-outline-secondary' %>
      <%= link_to 'Edit', edit_admin_product_path(product), remote: true, class: 'btn btn-outline-warning' %>
      <%= link_to 'Delete', admin_product_path(product), remote: true,
            method: 'delete', data: { confirm: "Are you sure to delete?" }, class: 'btn btn-outline-danger' %>
    <% end %>
  </td>
</tr>