<div class="modal fade" id="show_product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body overflow-auto">
        <div>
          <strong>Name:</strong>
          <span><%= @product.name %></span>
        </div>

        <div>
          <strong>Status:</strong>
          <span><%= @product.status %></span>
        </div>

        <div>
          <strong>Original Price:</strong>
          <span><%= @product.original_price %></span>
        </div>

        <div>
          <strong>Price:</strong>
          <span><%= @product.price %></span>
        </div>

        <div>
          <strong>Pictures:</strong>
          <div class='d-flex flex-column'>
            <% @product.pics.each do |pic| %>
              <%= image_tag pic, class: 'w-75 m-1' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>