<div class="modal fade" id="show_product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body overflow-auto">
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @product.status %>
        </p>

         <p>
          <strong>Original Price:</strong>
          <%= @product.original_price %>
        </p>

         <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Pictures:</strong>
          <div class='frame'>
            <% @product.pics.each do |pic| %>
              <%= image_tag pic %>
            <% end %>
          </div>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>