<%= stylesheet_link_tag 'products' %>

<div class="container">
	<% @products.each do |product| %>
  <div class="card mb-3 mt-3" style="max-width: 540px; margin: auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card-img">
	        <%= image(product) %>
	      </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">
            <strong>price: </strong>
            <del><%= product.original_price %></del>
            <span class="text-success"><%= product.price %></span>
          </p>
          <a href="<%= admin_product_path(product) %>" data-remote="true" class="btn btn-info">Detail</a>
        </div>
      </div>
    </div>
  </div>
	<% end %>
</div>

<div id='show-container'></div>



